/* 
#CAD2C5
#84A98C
#52796F
#354F52
#2F3E46
 */
html {
	height: 100%;
}
body {
	background-color: #354F52;
	color: #CAD2C5;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.4;
	min-height: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main-div {
	min-height: 100%;
}
.display-div {
	border: 2px solid #CAD2C5;
	min-height: 100%;
	padding: 5px;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-1 {
	flex: 1;
}
.flex-3 {
	flex: 3;
}
.btn {
	border: 2px solid #84A98C;
	background-color: #2F3E46;
	margin: 2px;
	padding: 2px;
}
.inline {
	display: inline;
}
